{% extends "base.html" %} {% block title %}shawty - Home{% endblock %} {% block
content %}
<body>
  <div class="main">
    <center>
      <div class="name"><i class="fa-solid fa-link"></i> shawty</div>
      <p>URL shortener</p>
      <br />
      <br />
    </center>
    <form name="url" action="/" method="POST">
      <input type="text" name="url" size="60" />
      <br />
      <br />
      <center>
        <button type="submit">Shorten</button>
        <br />
        <br />
        {% if short_url %}
        <p class="link"><a href="{{ short_url }}">{{ short_url }}</a></p>
        {% endif %}
      </center>
    </form>
  </div>
</body>
{% endblock %}
